body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgba(251, 0, 0, 0.521);
}
.topnav {
    overflow:hidden;
    background-color:#f99d9d;
}
.topnav a{
    float:left;
    color:deeppink;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px;
}
.topnav a:hover{
    background-color:blueviolet;
    color:deepskyblue;
}
.topnav a.active{
    background-color:yellowgreen;
    color:darkcyan;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}